.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: aquamarine;
  text-align: center;
}
.header-text{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px ;
  padding-bottom: 40px;
  font-size: 1.5rem;
  background-color: azure;
}
.image-sorter{
  background-color: aqua;
  border-radius: 10px;
  border: inset 3px black;
  width: 90%;
  margin: 0 auto 10px auto;
}
.image-sorter button{
  padding: 5px;
  margin: 10px;
}
.image-sorter select{
  padding: 5px;
  width: 200px;
}
.image-view{
  display: flex;
  flex-wrap: wrap;
}

img{
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.image-div{
  border-right: 2px solid white;
  border-bottom: 2px solid white; 
  width: 300px;
  max-width: 300px;
  justify-content: center;
  margin: 0 auto;
}